doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equip="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="shortcut icon", href="ico/favicon.ico")
        
        title= title
        block head
        
        link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
        link(href="stylesheets/starter.css", rel="stylesheet")
        
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        <![endif]-->
    body
        .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Rehoster
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li: a(href="/") Home
                        li: a(href="image") Image
                        li: a(href="#") File
        .container
            .starter-template
                block content
                
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="javascripts/bootstrap.min.js")
        block addl-js
